<html>
<head>
<title>Hello, I tweet as...</title>
<link rel="stylesheet" type="text/css" href="static/styles/main.css"></style>
</head>

<body>
<div id="container">
<div id="header">
<h1>Hello<br><span class="sub">I Tweet As</span></h1>
</div>
<form>
<div class="step">
<h2 id="layout_header">Layout</h2>
<p class="optional">(Optional)</p>
<div id="layout" class="collapse">
<label for="format">What label format are you using?</label>
<select id="format">
  <option>Avery #8395 / #5395 / #45395</option>
</select><br>
<label for="skip_n_labels">How many labels would you like to skip?</label>
<input id="skip_n_labels" value="0"/><br/>
</div>
</div>
<div class="step">
<h2 id="calibrate_header">Calibrate</h2>
<p class="optional">(Optional)</p>
<div id="calibrate" class="collapse">
<p>We strongly recommend that you calibrate the software using <a href="/calibrate">this PDF</a> before generating name tags. This step minimizes misprinted label sheets.</p>
<label for="fudge_x">Horizontal adjustment: </label><input id="fudge_x" value="0"/><br>
<label for="fudge_y">Vertical adjustment: </label><input id="fudge_y" value="0"/>
</div>
</div>
<div class="step">
<h2>Names</h2>
<div id="handles" class="collapse">
<label for="twitter_id">Enter your Twitter ID for a single nametag: </label>
@<input id="twitter_id"/>
</div>
</div>
<input id="submit" type="submit" value="Generate nametags"/>
</form>
<div id="footer">
<p><a href="http://twitter.com/itweetas">@ITweetAs</a> &middot; <a href="https://github.com/seanyo/Hello-I-Tweet-As">GitHub</a> &middot; This site uses <a href="http://famfamfam.com/">FamFamFam Icons</a></p>
</div>
</div>
</body>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="static/js/itweetas.js"></script>
</html>
