$def with (user, broadcast, errors, ga_profile_id)
<html>
<head>
<title>Hello, I tweet as...</title>
<link rel="stylesheet" type="text/css" href="static/styles/main.css"></style>
$if ga_profile_id is not None and ga_profile_id != '':
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '$ga_profile_id']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>

<body>
$if broadcast != '' and broadcast is not None:
    <div id="broadcast">
      $:broadcast
    </div>
$ error_count = 0
$for error in errors:
    <div class="error" id="error-$error_count">
      <p>Error: $error</p>
    </div>
    $ error_count += 1
<div id="login_logout">
$if user != '' and user is not None:
    You are logged in as $user. <a href="/logout">Log out</a>
$else:
    <p><a href="/login">Log in with Twitter</a></p>
    <div id="why">
      <dl>
        <dt>Why?</dt>
        <dd>Twitter imposes significant usage limits on unauthenticated use of its API. When you log in we can make requests on your behalf and generate nametags much more efficiently.</dd>
      </dl>
    </div>
</div>
<div id="container">
<div id="header">
<h1>Hello<br><span class="sub">I Tweet As</span></h1>
</div>
<form action="/nametags" method="post">
<div class="step">
<h2 id="layout_header">Layout</h2>
<p class="optional">(Optional)</p>
<div id="layout" class="collapse">
<label for="format">What label format are you using?</label>
<select id="format">
  <option>Avery #8395 / #5395 / #45395</option>
</select><br>
<label for="skip_n_labels">How many labels would you like to skip?</label>
<input id="skip_n_labels" name="offset" value="0"/><br/>
</div>
</div>
<div class="step">
<h2 id="calibrate_header">Calibrate</h2>
<p class="optional">(Optional)</p>
<div id="calibrate" class="collapse">
<p>We strongly recommend that you calibrate the software using <a href="/calibrate">this PDF</a> before generating name tags. This step minimizes misprinted label sheets.</p>
<label for="fudge_x">Horizontal adjustment: </label><input id="fudge_x" name="fudge_x" value="0"/><br>
<label for="fudge_y">Vertical adjustment: </label><input id="fudge_y" name="fudge_y" value="0"/>
</div>
</div>
<div class="step">
<h2>Names</h2>
<div id="handles" class="collapse">
<label for="twitter_id">Enter your Twitter ID for a single nametag: </label>
@<input id="twitter_id" name="users"/>
</div>
</div>
<input id="submit" type="submit" value="Generate nametags"/>
</form>
<div id="footer">
<p><a href="http://twitter.com/itweetas">@ITweetAs</a> &middot; <a href="https://github.com/seanyo/Hello-I-Tweet-As">GitHub</a> &middot; This site uses <a href="http://famfamfam.com/">FamFamFam Icons</a></p>
</div>
</div>
</body>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="static/js/itweetas.js"></script>
</html>
