<html>
<head>
<title>Hello, I tweet as...</title>
<link rel="stylesheet" type="text/css" href="static/styles/main.css"></style>
</head>

<body>
<div id="container">
<div id="header">
<h1>Hello</h1>
<h2>I Tweet As</h2>
</div>
<form>
<div class="step">
<h3 id="calibrate_header">Calibrate</h3>
<div id="calibrate" class="collapse">
<p>We strongly recommend that you calibrate the software using <a href="/calibrate">this PDF</a> before generating name tags. This step minimizes misprinted label sheets.</p>
<p>Your fudge values</p>
1.<input id="fudge_x" value="0"/> 2.<input id="fudge_y" value="0"/>
</div>
</div>
<div class="step">
<h3>Names</h3>
<div id="handles" class="collapse">
<p>Enter your Twitter ID for a single nametag</p>
@<input id="twitter_id"/>
</div>
</div>
<div class="step">
<h3 id="layout_header">Layout</h3>
<div id="layout" class="collapse">
<p>How many labels would you like to skip?</p>
<input id="skip_n_labels" value="0"/><br/>
</div>
</div>
<input type="submit" value="Generate nametags"/>
</form>
<div id="footer">
<p><a href="http://twitter.com/itweetas">@ITweetAs</a> &middot; <a href="https://github.com/seanyo/Hello-I-Tweet-As">GitHub</a></p>
</div>
</div>
</body>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="static/js/itweetas.js"></script>
</html>
