* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #eee;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 20px;
}

div#container {
  background-color: #fff;
  -moz-box-shadow: 0px 0px 9px #666;
  -webkit-box-shadow: 0px 0px 9px #666;
  box-shadow: 0px 0px 11px #666;
  border-radius: 11px;
}

div.step {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin: 1em;
  padding: 0.2em 0.2em 0.2em 1em;
}

div.step h2,
div.step p.optional {
  display: inline;
}

div.step p.optional {
  color: #333;
  font-size: 80%;
  font-style: italic;
}

div.step img.collapse {
  float: right;
}

div#header {
  background-color: #c11;
  border-radius: 11px 11px 0px 0px;
  color: #fff;
  font-family: sans-serif;
  padding: 0.25em;
  text-align: center;
}

div#header h1 {
  font-size: 350%;
  text-transform: uppercase;
}

div#header h1 span.sub {
  font-size: 60%;
  text-transform: uppercase;
}

img.collapse {
  cursor: pointer
}

input#submit {
  margin-left: 20px;
}

div#footer {
  background-color: #c11;
  border-radius: 0px 0px 11px 11px;
  color: #fff;
  margin-top: 10px;
  padding: 0.5em;
  text-align: center;
}

div#footer a {
  color: #fff;
}
