* {
  margin: 0px;
  padding: 0px;
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 10px;
}

div#container {
  -moz-box-shadow: 0px 0px 11px #333;
  -webkit-box-shadow: 0px 0px 11px #333;
  box-shadow: 0px 0px 11px #333;
  border-radius: 11px;
}

div.step {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin: 1em;
  padding: 0.2em 1em;
}

div#header {
  background-color: #c11;
  border-radius: 11px 11px 0px 0px;
  color: #fff;
  font-family: sans-serif;
  padding: 0.25em;
  text-align: center;
}

div#header h1 {
  font-size: 300%;
  text-transform: uppercase;
}

div#header h2 {
  font-size: 140%;
  text-transform: uppercase;
}

h3#calibrate_header,
h3#layout_header {
  cursor: pointer
}

h3#calibrate_header:hover,
h3#layout_header:hover {
  background-color: #fff;
}

div#footer {
  background-color: #c11;
  border-radius: 0px 0px 11px 11px;
  color: #fff;
  margin-top: 10px;
  padding: 0.5em;
  text-align: center;
}

div#footer a {
  color: #fff;
}
