.top {
  width: 300px;
  height: 65px;
  background-color: red;
  border-radius: 25px 25px 0px 0px;
  -moz-border-radius: 25px 25px 0px 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
}

.middle {
  width: 298px;
  height: 110px;
  border: 1px solid red;
}

.bottom {
  width: 300px;
  height: 20px;
  background-color: red;
  border-radius: 0px 0px 50px 50px;
  -moz-border-radius: 0px 0px 50px 50px;
  -webkit-border-bottom-right-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 36px;
  text-align: center;
  color: white;
}

.subtitle {
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  color: white;
  margin-top: -25px;
}

div.left{
  float: left;
  padding: 10px;
  width: 20%;
}

div.right{
  float: right;
  padding: 10px;
  width: 65%;
}

.twitterID{
  font-family: Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  color: black;
  font-weight: bold;
  margin: 2px;
  margin-top: -10px;
}

.name{
  font-family: Arial, sans-serif;
  font-size: 12px;
  margin: 2px;
  text-align: center;
  margin-bottom: 15px;
}

.description{
  font-family: Arial, sans-serif;
  font-size: 8px;
  font-style: italic;
  text-align: center;
  margin: 2px;
}
